@font-face {
    font-family: "Monstserrat";
    src: url("../../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
  }
  .title1{
    font-family: "Monstserrat";
    font-size: 58px;
    letter-spacing: 0;
    line-height: 64px!important;
    letter-spacing: 0;
    line-height: 26px;
  }
  .title2{
    font-family: "Monstserrat";
    font-size: 25px;
    letter-spacing: 0;
    line-height: 64px;
    letter-spacing: 0;
    line-height: 26px;
  }
  .title3{
    font-family: "Monstserrat";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 64px;
    letter-spacing: 0;
    line-height: 26px;
  }
  .title5 {
    color: #23174a;
    font-family: "Monstserrat";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
  }
  .v-input__slot{
    box-shadow: none!important;
  }